@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

@import "tailwindcss";

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #0f172a;
}

.glassmorphism {
  background: rgba(30, 41, 59, 0.7);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.mirror {
  transform: scaleX(-1);
}
